<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Demo2Project</display-name>
	<servlet>
		<servlet-name>Abc</servlet-name>
		<servlet-class>com.Bhanoo.AllServlets.Exp1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Abc</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>